// ***********************************
// NAVIGATION
// ***********************************
.main-header {
  //basis
  padding: 1em 0;

  // flex
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header .site-logo{
  @extend h1;
  //margin: 0;
  color: #fafafa;
  span {
    font-weight: 700;
  }
}

nav.nav-container {
  display: flex;
  height: 40px;
  color: #fafafa;
  .user {
    display: flex;
    align-items: center;
    padding: 0 1em;
    margin: 0 .5em;
    border-left: 1px solid #fafafa;
  }
  img.notification{
    width: 30px;
    cursor: pointer;
  }
  img.user-image{
    width: 40px;
    margin-right: 1em;
    border-radius: 100%;
  }
}





@media(min-width: 769px) {
  
}

@media (min-width: 1025px) {
 
}

/*
.flex-container {

  display: flex; // elemento di blocco
  //display: inline-flex; // elemento in linea

  // flex direction
  flex-direction: row; // :default
  //flex-direction: row-reverse; //inverte: da destra a sinistra
  //flex-direction: column; // incolonna
  //flex-direction: column-reverse;

  // flex-wrap
  // permette di passare da singola linea a multilinea
  flex-wrap: wrap; 

  // distribuire lo spazio tra le item
  justify-content: flex-start; // default 

  //justify-content: flex-end;
  //justify-content: center;
  //justify-content: space-around;
   justify-content: space-between;

  background: #9ACD32;
  padding: 1em;
  //width: 70%;
  margin: 3em auto 0;
  border-radius: 20px;
  color: #ebecec;

  // test
  //height: 300px;
}

.flex-container li {
  padding: 1em;
  margin: .4em;
  background-color: #52bab3;
  border-radius: 5px;

    // growing Flex Items

    flex-grow: 1;
}

.flex-container li:nth-child(3) {
  //margin-right: auto;

  // cambiare l'ordine
  order: 0; // default
  order: -1;
  order: 1;
  flex-grow: 2;
  flex-basis: 50px;

  //flex short-hand
  //flex: flex-grow flex-basis
  flex: 2 50px;
}

.flex-container li:nth-child(2) {
 order: 2;
}
*/