<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Ciao Pug
  link(rel="stylesheet", href="css/app.css")
body
  p Sono un pugghino molto carino!
  p anch'io
  p pur'io
  h1 wee
  script(src="js/app.js")